.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-wrapper {
    background-color: #333333;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.page-title {
    color: #7EA16B;
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: bold;
    font-family: Papyrus;
}

.logo {
    width: 100px;
    height: auto;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.box {
    background-color: #464646;
    padding: 25px;
    height: 375px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.box:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.box-scroll {
    max-height: 275px;
    overflow-y: auto;
}

.box h3 {
    color: #7EA16B;
    margin-bottom: 15px;
}

.box .btn-green {
    color: #95B783;
    border: 1px solid #C3D898;
    padding: 12px 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
}

.box .btn-green:hover {
    background-color: #CFE0AC !important;
    border-color: #CFE0AC !important;
}

.box .btn-green:active {
    transform: scale(0.90) translateY(2px);
}

.process-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.playback-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.saveload-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.process-buttons .btn-green {
    flex: 1;
}

.playback-buttons .btn-green {
    flex: 1;
}

.saveload-buttons .btn-green {
    flex: 1;
}

.dj-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.dj-buttons .btn-green {
    flex: 1;
}

.btn-check:checked + .btn-green {
    background-color: #CFE0AC !important;
    border-color: #CFE0AC !important;
}

.volume-slider {
    color: #95B783;
}

.green-text {
    margin-top: 10px;
    margin-bottom: 3px;
    color: #95B783;
}